---
import BaseLayout from "../layouts/BaseLayout.astro";
import BecomeInvolvedCard from "../components/BecomeInvolvedCard.astro";
import DiscordLogo from "../assets/dc.png";
import AltaML_Logo from "../assets/altaml_logo.jpg";
import KPMG_Logo from "../assets/kpmg_logo.jpg";
import { Image } from "astro:assets";
import SponsorshipCard from "../components/SponsorshipCard.astro";
import Slideshow from "../components/Slideshow.astro";

import presenter from "../assets/events/sep-2024/Img-26.jpg";
import circleGroup from "../assets/events/oct-2024/Img-25.jpg";

const pageTitle = "Welcome to the Edmonton Data Science Community!";

const images = [
  {
    img: presenter,
    alt: "A woman standing at a podium, talking into a microphone with her right hand waving.",
  },
  {
    img: circleGroup,
    alt: "A group of people standing in a circle, talking to each other.",
  },
];
---

<BaseLayout pageTitle={pageTitle}>
  <!-- Slideshow of images from past meetups -->
  <div class="has-text-centered">
    {
      images.length == 0 ? (
        <div class="notification is-warning">
          <p>
            No images have been added to the slideshow. To add images, add the
            image's ID to the <code>image_ids</code> array in{" "}
            <code>index.astro</code>.
          </p>
        </div>
      ) : (
        <Slideshow images={images} height="500px" width="100%" />
      )
    }
    <!-- Quick overview of community -->
    <div class="container narrow">
      <div class="block">
        <div class="card involved-card" id="about-card">
          <div class="card-content content is-flex-grow-1">
            <h3 class="subtitle">What is the Edmonton Data Science Community?</h3>
            <p>
              The Edmonton Data Science Community is a group of data science
              enthusiasts who meet regularly to discuss data science topics,
              network, and learn from each other. We are a community of
              professionals, academics, and students who are passionate about
              data science and its applications.
            </p>
          </div>
        
          <footer class="card-footer">
            <div class="card-footer-item is-medium">
              <!-- <p>Join us on Discord!<br /></p> -->
              <a href="/#">
                <!-- TODO: DISCORD LINK -->
                <Image
                  src={DiscordLogo}
                  width="64"
                  height="64"
                  alt="Edmonton Data Science Community - Discord"
                /></a
              >
            </div>
          </footer>
        </div>
      </div>

      <!-- Become involved -->
      <div class="block">
        <div class="content">
          <h3 class="subtitle">Become Involved!</h3>
        </div>
        <div class="columns">
          <div class="column is-flex">
            <BecomeInvolvedCard
              title="As a Community Member"
              link="https://discord.gg/jSZPjemzuq"
              linkText="Become a Member!"
            >
              <p>
                Our community is open to anyone who is interested in data
                science. We welcome students, academics, and professionals
                alike. Join us on Discord to learn more about our community and
                upcoming events!
              </p>
            </BecomeInvolvedCard>
          </div>
          <div class="column is-flex">
            <BecomeInvolvedCard
              title="As a Speaker"
              link="/meetups"
              linkText="Speak at a Meetup!"
            >
              <p>
                Speakers anchor our meetups, providing our members with the
                opportunity to learn about the latest technologies and
                applications in data science. Whether you are a student,
                academic, or professional, we would love to hear from you!
              </p>
            </BecomeInvolvedCard>
          </div>
          <div class="column is-flex">
            <BecomeInvolvedCard
              title="As a Sponsor"
              link="/meetups"
              linkText="Sponsor Us!"
            >
              <p>
                Sponsors are a key part of our community, providing our members
                with opportunities to learn about the latest technologies and
                applications in data science. We are always looking for new
                sponsors to help us grow our community and provide our members
                with the best experience possible.
              </p>
            </BecomeInvolvedCard>
          </div>
        </div>
      </div>

      <!-- Sponsors -->
      <!-- <div class="content">
        <h3 class="subtitle">Our Sponsors</h3>
        <div class="columns">
          <div class="column">
            <SponsorshipCard
              title="AltaML"
              link="https://www.altaml.com/"
              image={AltaML_Logo} -->
            <!-- />
          </div> -->
          <!-- <div class="column"> -->
          <!--   <SponsorshipCard -->
          <!--     title="KPMG" -->
          <!--     link="https://home.kpmg/ca/en/home.html" -->
          <!--     image={KPMG_Logo} -->
          <!--   /> -->
          <!-- </div> -->
        <!-- </div>
      </div> -->
    </div>
  </div>
</BaseLayout>

<style>
  .index-block {
    padding: 1rem 10rem;
    border-radius: 0.5rem;
    margin: 1rem;
  }

  #about-card {
    background-color: #bde3ff;
  }

  
  #community-overview-block {
    background-color: #d9d9d9;
  }
</style>
