---
import BaseLayout from "../layouts/BaseLayout.astro";
import BioCard from "../components/BioCard.astro";

import steveKwan from "../assets/headshots/steve-kwan.png";
import talatSyed from "../assets/headshots/talat-syed.jpeg";
import paulSaunders from "../assets/headshots/paul-saunders.png";
import thiagoValentin from "../assets/headshots/thiago-valentin.jpg";
import jennyChunChiLien from "../assets/headshots/jenny-chun-chi-lien.jpg"; 
import marcinMizianty from "../assets/headshots/marcin-mizianty.jpg";

const pageTitle = "EDSC Organizers and Volunteers";

const bios = [
  {
    name: "Steve Kwan",
    type: "Organizer",
    role: "Organizer",
    bio: "Manager, Information Management & Data Analytics at KPMG Canada",
    image: steveKwan,
    contacts: [
      {
        type: "linkedin",
        url: "#",
      },
      {
        type: "github",
        url: "#",
      },
    ],
  },
  {
    name: "Talat Syed",
    type: "Organizer",
    role: "Organizer",
    bio: "Product Manager",
    image: talatSyed,
    contacts: [
      {
        type: "linkedin",
        url: "#",
      },
      {
        type: "github",
        url: "#",
      },
    ],
  },
  {
    name: "Paul Saunders",
    type: "Organizer",
    role: "Organizer",
    bio: "Computing Science M.Sc student at the University of Alberta.",
    image: paulSaunders,
    contacts: [
      {
        type: "linkedin",
        url: "#",
      },
      {
        type: "github",
        url: "#",
      },
    ],
  },
  {
    name: "Thiago Valentin",
    type: "Organizer",
    role: "Organizer",
    bio: "Data Scientist at GoAuto",
    image: thiagoValentin,
    contacts: [
      {
        type: "linkedin",
        url: "#",
      },
      {
        type: "github",
        url: "#",
      },
    ],
  },
  {
    name: "Jenny Chun Chi Liien",
    type: "Organizer",
    role: "Organizer",
    bio: "Manager of Data Science, Talent Accelerator at AltaML",
    image: jennyChunChiLien,
    contacts: [
      {
        type: "linkedin",
        url: "#",
      },
      {
        type: "github",
        url: "#",
      },
    ],
  },
  {
    name: "Marcin Mizianty",
    type: "Organizer",
    role: "Organizer",
    bio: "VP of Data Science at AltaML",
    image: marcinMizianty,
    contacts: [
      {
        type: "linkedin",
        url: "#",
      },
      {
        type: "github",
        url: "#",
      },
    ],
  },
];

// Ensure all bios have name, role, bio, image
console.assert(
  bios.every(
    (bio) => bio.name && bio.role && bio.bio && bio.image && bio.contacts
  )
);

// Ensure all contacts have type and url, and that type is either "linkedin" or "github"
const allowedContactTypes = ["linkedin", "github"];
console.assert(
  bios.every((bio) =>
    bio.contacts.every(
      (contact) => allowedContactTypes.includes(contact.type) && contact.url
    )
  )
);

const organizers = bios.filter((bio) => bio.type === "Organizer");
const volunteers = bios.filter((bio) => bio.type === "Volunteer");
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <div class="content">
      <h3 class="subtitle">Organizers</h3>
    </div>
    <hr />
    <!-- <div class="fixed-grid has-4-cols"> -->
      <div class="grid is-col-min-11">
        {
          organizers.map((bio) => (
            <div class="cell">
              {/* here */}
              <BioCard
                name={bio.name}
                role={bio.role}
                bio={bio.bio}
                image={bio.image}
                contacts={bio.contacts}
              />
            </div>
          ))
        }
      <!-- </div> -->
    </div>
    <div class="content">
        <h3 class="subtitle">Volunteers</h3>
    </div> 
    <hr />
    <p>Coming soon...</p>
    <!-- <div class="columns is-flex is-multiline">
      {
        volunteers.map((bio) => (
          <div class="column is-3">
            <BioCard
              name={bio.name}
              role={bio.role}
              bio={bio.bio}
              image={bio.image}
              contacts={bio.contacts}
            />
          </div>
        ))
      } -->
  </div>
</BaseLayout>
